# Created by https://www.toptal.com/developers/gitignore/api/synology
# Edit at https://www.toptal.com/developers/gitignore?templates=synology

### Synology ###
# Thumbnails
@eaDir
# Recycle bin
\#recycle
# Custom
data/
.env

# End of https://www.toptal.com/developers/gitignore/api/synology
